@font-face {
  font-family: 'GalanoGrotesqueAlt-ExtraLight';
  src: url('path/to/GalanoGrotesqueAlt-ExtraLight.ttf') format('truetype');
}
*{
  margin: 0;
  padding: 0;
  font-family: 'GalanoGrotesqueAlt-ExtraLight', sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffe815;
  height: 150px;
  font-size: 22px;
}

nav li {
  float: left;
  padding-top: 49px;
  padding-left: 60px;
}

nav li a {
  display: block;
  color: #41005a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav li a:hover {
  color: #ffffff;
}

main > section {
  display: flex;
  gap: 20px;
}

.tekst1 {
  display: grid;
  width: 500px;
}


.background {
  position: relative;
}



main > section {
  display: flex;
  flex-direction: column;
}

/* Footer */

body {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #ffe815;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

footer p {
  margin: 0;
  font-size: 14px;
}

footer a {
  color: #333;
  text-decoration: none;
  margin-left: 10px;
}

footer a:hover {
  text-decoration: underline;
}