nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 312px;
    overflow: hidden;
    background-color: #ffe815;
    border-radius: 20px;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  nav li a:hover {
    background-color: #41005a;
  }
